.container { 
    margin: 0 auto;
    min-width: 60rem;
    width: 60%;
}

nav, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
}

nav > a { 
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

img {
    max-width:12rem;
    border-radius: 25px;
}

@media only screen and (min-width: 768px) {
    nav { flex-direction: row; }
    .project-container { display: flex; }
    .project-container .project-list { width: 20%; }
    .project-container .project { flex: 1; }
}

.title-wrapper {
    background-color: #333;
    width: 18rem;
    text-align: center;
    border-radius: 3px;
    margin:1px;
    padding: 0.5rem;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}